@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-text-style {
    @apply text-white font-sans font-normal;
  }

  .disable-focus-border {
    @apply focus:outline-none focus:ring-0;
  }

  .hide-scrollbar {
    @apply overflow-auto;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --font-family-main: "DM Sans";
}

body {
  font-family: var(--font-family-main);
  background-color: white;
}
