@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .aboutUs-content-alignment {
    @apply flex flex-row w-[75%] h-fit items-start justify-start ;
  }

  .aboutUs-content-title {
    @apply w-[25%] h-full text-lg font-semibold text-custom-green-70;
  }

  .aboutUs-content-box {
    @apply w-[75%] h-fit text-lg font-normal text-custom-black space-y-2;
  }

  .disable-focus-border {
    @apply focus:outline-none focus:ring-0;
  }

  .hide-scrollbar {
    @apply overflow-auto;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --color-white-background: #f2eed7;
  --font-family-main: "DM Sans";
}

body {
  font-family: var(--font-family-main);
  background-color: var(--color-white-background);
}
